app = 'prvblr'
primary_region = 'ewr'
swap_size_mb = 512

[build]
  image = 'quay.io/pussthecatorg/priviblur'

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'suspend'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256

[[files]]
  guest_path = "/priviblur/config.toml"
  local_path = "config.toml"
